<p>Si activa el periodo de admisi&oacute;n se recomienda:</p>
<table class="aviso" style="text-align:left">
  
  <tr>
    <td class="doscientoscincuenta" style="font-size:0.5cm">Enviar correo de apertura a usuarios</td>
     <td><%= link_to image_tag("boton2.png", :border=>0,:align=>"left"),"#",id:"enlaceApertura"  %></td>
  </tr>
</table>
<p style="font-size:2em;"><%=  @mensaje.html_safe %></p>


<script type="text/javascript">

$(function()
	{
		$("#enlaceApertura").click(function()
		{
			var mensaje="Se enviará un correo a todos los usuarios de la base, en el que se anunciará la apertura del periodo de admision de solicitudes";
			if (confirm(mensaje)){
			var url="/periodos/enviar_correo_lectivo_on";
			$.ajax
			({
				type:"POST",
				url:url
			});
			}
		});
	});
</script>