$("#errores").html("");
$('#tramos').html("<%= escape_javascript(render :partial => 'solicitudlabs/muestra_tramo',:collection=>session[:tramos_horarios].solicitudes) %>");

 <% if flash.now[:notice] %>
$("#errores").html("<div id='errorExplanation' style='top:400px'><p>Imposible incluir tramo horario:</p><ul><li><%=escape_javascript (flash.now[:notice]) %></li></ul></div>");
<%end%>
$('#actual').css({'background-color':'#010080'});
 $("#actual").animate({'background-color':'#f6ecd5'}, 1000);