
<p>Hay <span style='color:red;font-weight:bold'><%=@colision.to_s%></span> colisiones pendientes de resolver<br/><br/></p>
<p>Grabe la asignaci&oacute;n definitiva cuando todo sea correcto<br/><br/>y active el per&iacute;odo correspondiente</p>
