<table id="subformularioreserva" >
   <tr style="font-size: 10px;font-weight: normal;text-align:center">
      <td>Usuario&nbsp;&nbsp;</td>
      <td><% @usuarios=Usuario.order("apellidos").to_a.reject{|u| u.identificador=="anonimo"} %>
          <%= select "usuario", "identificador", @usuarios.map {|u| [u.apellidos+", "+u.nombre]} %> </td>    
   </tr>     
</table>
