<tr>
 <td style="width:60px"><%= tramo_peticion.diasemana %></td>  
 <td style="width:30px;text-align:right"><%= tramo_peticion.horaini %></td> 
 <td style="width:30px;text-align:right"><%= tramo_peticion.horafin %></td>    
</tr>
