<tr>
 <td style="width:60px;border:none"><div style="page-break-inside: avoid"><%= tramo_peticion.diasemana %></div></td>  
 <td style="width:30px;text-align:right;border:none"><div style="page-break-inside: avoid"><%= tramo_peticion.horaini %></div></td> 
 <td style="width:30px;text-align:right;border:none"><div style="page-break-inside: avoid"><%= tramo_peticion.horafin %></div></td>    
</tr>
