<tr>
 <td style="width:60px;border:none"><%= tramo_peticion.diasemana %></td>  
 <td style="width:30px;text-align:right;border:none"><%= tramo_peticion.horaini %></td> 
 <td style="width:30px;text-align:right;border:none"><%= tramo_peticion.horafin %></td>    
</tr>
