
<div id="central" >
  <p>GESTOR DE RECURSOS<br>
     <%= image_tag ("pointer.gif") %>Asignaci&oacute;n general de laboratorios en periodo de examenes
  </p>
  <div id="recuadro">  
    <p><%= image_tag ("bg_separ.gif") %></p>
      
       <% nasig=Asignacionlabexadef.all.size %>
       <% if nasig>0 %>
           <div id="cuadrante3"><%= render :partial => "cuadrante3" %></div> 
       <% else %>
            <div class="aviso">
               <p>No hay ning&uacute;n periodo de ex&aacute;menes o asignaci&oacute;n vigente </p>
               
            </div>  
        <% end %>  
  </div>
</div>
