<div id="central" >
    <p>GESTOR DE RECURSOS<br/>
       <%= image_tag ("pointer.gif") %>Gesti&oacute;n de archivos: Editando usuarios
    </p>
   <%= render :partial => 'add_or_edit' %>
</div><!-- de central -->

