<div id="central" >
    <p>GESTOR DE RECURSOS<br/>
       <%= image_tag ("pointer.gif") %>Editando solicitud de laboratorio para per&iacute;odo lectivo
    </p>

       <%= render :partial=> "add_or_edit", :locals => { :submit_name => "Guardar cambios", :error_message => "Imposible modificar la solicitud debido a:" }%>
</div><!-- de central -->

<script type="text/javascript">
$(function()
  {
    $("form[name=formulario]").attr("action", "/solicitudusuariolabs/update");
  });
</script>