<div id="central" >
    <p>GESTOR DE RECURSOS<br/>
       <%= image_tag ("pointer.gif") %>Editando solicitud de laboratorio para periodo lectivo
    </p>

      <%= render :partial=> "add_or_edit" %>
</div><!-- de central -->

<script type="text/javascript">
$(function()
  {
    $("form[name=formulario]").attr("action", "/solicitudusuariolabs/update");
  });
</script>