<% p=tramo_preferencia.split("-") %>
<tr valign="top">
<% if p[2]!='in' and p[0]!=' '%>
  <td style="width:85px;border:none" ><%= Laboratorio.find_by_nombre_lab(p[0]).ssoo %></td>  
  <td style="width:40px;border:none" ><%= p[2] %></td>
<% end %> 
</tr>
