$("#errores").html("");

 <% if flash.now[:notice] %>
$("#errores").html("<div id='errorExplanation' style='top:400px'><p>Imposible crear la solicitud:</p><ul><li><%=escape_javascript (flash.now[:notice]) %></li></ul></div>");
<%end%>